{{ if .Site.Params.about2.enable }}
    {{"<!-- About Section -->" | safeHTML}}
    <section id="{{ i18n "about2" | urlize }}" class="section about bg">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 wow fadeInLeft">
                    <div class="content2">
                        <div class="sub-heading">
                        {{ with .Site.Params.about2.heading }}
                            <h3>{{ . }}</h3>
                        {{ end }}
                        </div>
                        {{ with .Site.Params.about2.description }}
                            <p>{{ . | markdownify }}</p>
                        {{ end }}
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="about-slider">
                        {{ range .Site.Params.about2.sliderItem }}
                            <img src="{{ .image }}" alt="{{ i18n "sliderImage" }}">
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
