{{ if .Site.Params.about3.enable }}
    {{"<!-- About Section -->" | safeHTML}}
    <section id="{{ i18n "about3" | urlize }}" class="section about3 bg"> <!-- au départ "bg-gray". le retrait de -gray fait un fond de page blanc  -->
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 wow fadeInLeft">
                    <div class="content">
                        <div class="sub-heading">
                        {{ with .Site.Params.about3.heading2 }}
                            <h3>{{ . }}</h3>
                        {{ end }}
                        </div>
                        {{ with .Site.Params.about3.description2 }}
                            <p>{{ . | markdownify }}</p>
                        {{ end }}
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="about2-slider">
                        {{ range .Site.Params.about3.sliderItem }}
                            <img src="{{ .image }}" alt="{{ i18n "sliderImage" }}">
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}

<!-- <a target="_blank" href="https://www.linkedin.com/company/fablab-digiscope-lisn-upsaclay/">
 <img src="https://www.eugloh.eu/user/themes/eugloh/images/logo.svg">
</a> -->
