/*--
    Common Css
--*/
body {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: #000; /* pour tous les sous-titres et titres du heroe-area et about*/
  font: 14px/22px 'Cabin', sans-serif, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,

h1 {
  font-size: 44px;
  line-height: 56px;
  color: #000;
}

h2 {
  font-size: 30px;
  line-height: 35px;
  color: #000;
  font-weight: 600;

}

h3 {
  font-size: 60px;
      font-weight: 600;
      line-height: 70px;
      color: #fff;
      margin-bottom: 20px;
      font-family: 'Cabin', sans-serif;
      text-transform: uppercase;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

h5 {
  font-size: 44px;
  line-height: 56px;
  color: #fff;
}

h6 {
  font-size: 44px;
  line-height: 56px;
  color: #63003C;
  background: #d86626; /*bandeau 2 "about"*/
}

p {
  font-size: 20px; /*taille sous-titre about*/
  line-height: 24px; /*entre ligne*/
  margin: 0px;
  color: #fff; /*couleur des sous-titres* pour tous les "about" et autre?*/

}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #63003C;
}

a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none;
}

.section {
  padding: 100px 0; /*hauteur des bandeaux/sections de toute la page*/
}

/*--
    custom heading
--*/
.text-center {
  text-align: center;
}

.heading {
  text-align: center;
  color: #63003C; /*tous les headings*/
  padding-bottom: 10px;
}

.heading h2 {
  color: #63003C; /*tous les headings h2*/
  padding-bottom: 15px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 30px; /*tous les headings h2*/
  line-height: 40px;
}

.heading p {
  font-family: 'Cabin', serif;
  font-size: 15px; /*sous-titre service et service2*/
  line-height: 24px;
  font-weight: 300;
}

.btn {
  border-radius: 0;
}

.btn-home {
  background-color: #d86626; /* COULEUR BOUTON*/
  border-radius: 0px;
  color: #fff;
  font-size: 15px;
  padding: 10px 40px;
  margin-top: 30px;
}

.btn-home:hover,
.btn-home:focus {
  background-color: #fff;
  color: #d86626;
  border: 1px solid #fff;
}

/*Preloader*/
#preloader {
  background-color: #fff;
  bottom: auto;
  height: 100%;
  left: auto;
  position: fixed;
  right: auto;
  top: auto;
  width: 100%;
  z-index: 9999;
}

.book {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  margin: 0 auto;
  border: 5px solid #ecf0f1;
  width: 100px;
  height: 60px;
}

.book__page {
  position: absolute;
  left: 50%;
  top: -5px;
  margin: 0 auto;
  border-top: 5px solid #ecf0f1;
  border-bottom: 5px solid #ecf0f1;
  border-right: 5px solid #ecf0f1;
  background: #1bafb4;
  width: 50px;
  height: 60px;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: flip 1.2s infinite linear;
  animation: flip 1.2s infinite linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.book__page:nth-child(1) {
  z-index: -1;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.book__page:nth-child(2) {
  z-index: -2;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.book__page:nth-child(3) {
  z-index: -3;
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
  }

  20% {
    background: #1bafb4;
  }

  29.9% {
    background: #1bafb4;
  }

  30% {
    -webkit-transform: perspective(200px) rotateY(-90deg);
    transform: perspective(200px) rotateY(-90deg);
    background: #1bafb4;
  }

  54.999% {
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  60% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #1bafb4;
  }

  100% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #1bafb4;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
  }

  20% {
    background: #1bafb4;
  }

  29.9% {
    background: #1bafb4;
  }

  30% {
    -webkit-transform: perspective(200px) rotateY(-90deg);
    transform: perspective(200px) rotateY(-90deg);
    background: #1bafb4;
  }

  54.999% {
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  60% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #1bafb4;
  }

  100% {
    -webkit-transform: perspective(200px) rotateY(-180deg);
    transform: perspective(200px) rotateY(-180deg);
    background: #1bafb4;
  }
}

/*--
    .hero-area start
--*/

.bg-gray {
  background: #EE3423; /*bandeau "about"*/
}

.hero-area {
  background-size: cover;
  background-attachment: fixed;
  height: 45vh; /*hauteur du bandeau "about"*/
  display: flex;
  justify-content: center;
  align-items: center;
  background: #165793; /*bandeau 1 "about" avec compteur*/

}

.hero-area h1 {
  color: #fff; /*pour les titres des h1*/
  font-size: 60px; /*gros-titre counter*/
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 19px;
  /*background: #EE3423; background du texte de gros-titre hero*/

}

.hero-area p {
  color: #fff; /*sous-titre descriptif counter*/
  font-size: 20px; /*sous-titre descriptif counter*/
  line-height: 1.3;
  /*background: #EE3423; /*background du texte de gros-titre et du sous-titre hero*/
}

.hero-area .counter {
  background: #d86626; /*couleur du counter*/
  padding: 15px; /*bord du counter*/
}

.hero-area .counter ul li {
  background-color: rgba(255, 255, 255, 0.15); /*TRANSPARENCE ECTANGLE COUNTER*/
  color: #fff; /*couleur des chiffres du counter. blanc au départ*/
  display: inline-block;
  line-height: 12px; /*HAUTEUR DU COUNTER. j'ai divisé par 2*/
  padding: 12px 14px 10px; /*j'ai divisé par 2*/
  text-align: center;
  width: 49%; /*largeur et forme du counter*/
  margin-bottom: 3px;
}

.hero-area .counter ul li span {
  display: block;
  font-size: 15px; /*lettres jours, heures, min, etc*/
  font-weight: 600;
}

.hero-area .counter ul li .digit {
  display: inline-block;
  font-size: 40px; /*taille chiffre countdown*/
  font-weight: bold;
  line-height: 50px;
  position: relative;
  overflow: hidden;
  height: 53px; /*HAUTEUR FONT DU COMPTEUR*/
}

@media only screen and (max-width:400px) {
  .hero-area .counter ul li .digit {
    font-size: 30px;
    line-height: 30px;
    height: 40px;
  }
}

.hero-area .btn {
  margin-bottom: 15px;
}

.float-none {
  float: none;
}

@media only screen and (min-width: 991px) {
  .float-lg-left {
    float: left;
  }
}

/*--
    .hero-area2 start
--*/

.bg-gray {
  background: #004E7D; /*bandeau 2 "about"*/
}

.hero2-area {
  background-size: cover;
  background-attachment: fixed;
  height: 40vh; /*hauteur du bandeau "about"*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero2-area h1 {
  color: #fff; /*pour les titres des h1*/
  font-size: 60px; /*gros-titre counter*/
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 19px;
}

.hero2-area p {
  color: #fff; /*sous-titre descriptif counter*/
  font-size: 20px; /*sous-titre descriptif counter*/
  line-height: 1.3;
}

.hero2-area .counter {
  background: rgba(255, 255, 255, 0.2); /*couleur du counter*/
  padding: 15px; /*bord du counter*/
}

.hero2-area .counter ul li {
  background-color: rgba(255, 255, 255, 0.3);
  color: #63003C; /*couleur des chiffres du counter. blanc au départ*/
  display: inline-block;
  line-height: 12px; /*j'ai divisé par 2*/
  padding: 12px 14px 10px; /*j'ai divisé par 2*/
  text-align: center;
  width: 49%; /*largeur et forme du counter*/
  margin-bottom: 3px;
}

.hero2-area .counter ul li span {
  display: block;
  font-size: 15px; /*lettres jours, heures, min, etc*/
  font-weight: 600;
}

.hero2-area .counter ul li .digit {
  display: inline-block;
  font-size: 50px; /*taille chiffre countdown*/
  font-weight: bold;
  line-height: 50px;
  position: relative;
  overflow: hidden;
  height: 60px;
}

@media only screen and (max-width:400px) {
  .hero-area2 .counter ul li .digit {
    font-size: 30px;
    line-height: 30px;
    height: 40px;
  }
}

.hero-area2 .btn {
  margin-bottom: 10px;
}

.float-none {
  float: none;
}

@media only screen and (min-width: 991px) {
  .float-lg-left {
    float: left;
  }
}

/* .hero-area2  */


/* .hero-area  */
.navigation {
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px 50px;
  margin: 0;
  border: 0;
}

.navigation .navbar-brand {
  padding-top: 5px;
  display: inline-block;
}

.navigation .navbar-toggler {
  background: #63003C;
  outline: none;
  border-radius: 0;
  float: right;
}

.navigation .navbar-toggler i {
  font-size: 22px;
}

.navigation.animated {
  background-color: #fff; /*couleur nav bar quand on descend*/
  box-shadow: 0 2px 7px 0px rgba(142, 142, 142, 0.15);
}

.navigation.animated .menu a {
  color: #165793; /*couleur texte navbar quand on bouge vers le bas*/
}

.menu li a {
  color: #fff; /*couleur texte nav bar*/
  font-size: 15.5px; /*taille texte nav bar*/
  font-weight: bold/*font-weight: bold;*/
} /*ajouter des paramètres ici*/

.menu li a:hover,
.menu li a:focus {
  background: none;
}


/* news-slider */
.news-slider {
  overflow: hidden;
  -webkit-box-shadow: 0 -1px 0 #000;
          box-shadow: 0 -1px 0 #000;
}
.news-slider .list {
  font-size: 32px;
  line-height: 40px;
  padding: 13px 0;
  overflow: hidden;
  font-weight: bold;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: -0.5px;
}
@media (max-width: 1699px) {
  .news-slider .list {
    font-size: 26px;
    line-height: 32px;
  }
}
@media (max-width: 1199px) {
  .news-slider .list {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (max-width: 991px) {
  .news-slider .list {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .news-slider .list {
    font-size: 16px;
    line-height: 23px;
    padding: 5px 0;
    letter-spacing: 0;
  }
}
.news-slider .list p {
  margin: 0;
}
.news-slider .list li {
  padding: 0 30px;
  position: relative;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .news-slider .list li {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .news-slider .list li {
    padding: 0 15px;
  }
}
.news-slider .list li + li::before {
  content: '|';
  position: absolute;
  left: -2px;
  top: 0;
}


/*--
    service start
--*/
.service {
  text-align: center;
}

.service .block {
  margin-bottom: 50px; /*écart entre les blocs*/
}

.service .block i {
  font-size: 30px;
  display: inline-block;
  margin-bottom: 15px;
  color: #63003C; /*couleurs icones*/
}

.service .block h3 {
  color: #fff; /*couleurs titre de mini blocs dans activités*/
  background-color:#63003C; /*couleur de fond du texte des mini blocks*/
  background: #63003C;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.service .block p {
  color: #666;
}

/*--
    service2 start
--*/
.service2 {
  text-align: center;
}

.service2 .block {
  margin-bottom: 50px; /*écart entre les blocs*/
}

.service2 .block i {
  font-size: 30px;
  display: inline-block;
  margin-bottom: 15px;
  color: #63003C; /*couleurs icones*/
}

.service2 .block h3 {
  color: #fff; /*couleurs titre de blocs*/
  background-color:#63003C; /*couleur de fond du texte des mini blocks*/
  background: #63003C; /*couleur de fond des bandeaux*/
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.service2 .block p {
  color: #666;/*couleur texte sous bandeaux*/
}

/*--
    About start
--*/


.bg-gray {
  background: #fff; /*bandeau 2 "about"*/
}

.about .content h1 {
  font-size: 60px; /*gros-titre du block about*/
  font-weight: 600; /*épaisseur pour les textes h3*/
  line-height: 70px;
  color: #165793; /*couleur du gros-titre pour les h3*/
  margin-bottom: 20px;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
}

.about .about-slider img {
  width: 40%;
  height: 80%;
}

/*--
    About2 start
--*/
.bg {
  background: #000; /*bandeau 3 "about2"*/
}

.about2 .content h3 {
  font-size: 60px; /*gros-titre du block about*/
  font-weight: 600; /*épaisseur pour les textes h3*/
  line-height: 70px;
  color: #fff; /*couleur du gros-titre pour les h3*/
  margin-bottom: 20px;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
}

.about2 .about2-slider img {
  width: 100%;
  height: auto;
}


/*--
    call-to-action start
--*/
.call-to-action {
  padding: 50px 0px; /*hauteur du bandeau mailing-list*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.call-to-action:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(99.0, 0.0, 60.0, 1.0); /*#63003C en rgba*/
}

.call-to-action .block h2 {
  font-size: 30px;
  margin-bottom: 6px;
  font-weight: 600;
  color: #fff; /*titre section mailing list*/
}

.call-to-action .block p {
  padding-right: 1s0px;
  color: #fff;
}

.call-to-action .block .input-group {
  margin-top: 10px;
}

.call-to-action .block .input-group input {
  height: 30px; /*hauteur du champ d'écriture email*/
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.call-to-action .block .input-group .btn-subscription {
  height: 30px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: #165793; /*couleur du bouton de validation email*/
  padding: 0px 35px;
  color: #fff;
  font-weight: bold;
}

.input-field .form-control {
  box-shadow: none;
  background: #f5f5f5;
  border: flex; /*bord du champ get in touch*/
  width: 100%;
  height: 30px;
  padding-left: 20px;
  font-weight: 500;
  border-radius: 0;
}

.btn-send {
  line-height: 20px;
  border: 2px solid #165793; /*bord du bouton send me*/
  background: #165793; /*bord du champ send me*/
  color: #fff;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0;
  margin-top: 10px;
}

.btn-send:hover {
  color: #fff;
}

.input-field label {
  color: #d86626;
}

.form-group .input-field+.input-field {
  margin-top: 10px;
}

.input-field textarea.form-control {
  height: 60px; /*taille du champ de message your message*/
  box-shadow: none;
}

.form-group {
  margin-top: 10px;
}

#success,
#error {
  display: none;
}

footer {
  text-align: center;
  background: #d86626;
  padding: 10px 0px;
}

footer p {
  font-weight: 500;
  font-size: 12px;
  color: #d86626;
  letter-spacing: 3px;
}

footer p a {
  color: #fff;
}

footer p a:hover {
  color: #fff;
  text-decoration: none;
}
